* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerProfileView {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2rem;
}

.profileCard {
    width: 60%;
    max-width: 900px;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: white;
    border: solid 1px rgb(223, 220, 220);
    border-radius: 10px;
}

.bannerProfile {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding-left: 30px;
    background: rgb(185, 211, 179);
    overflow: hidden;
}

.bannerProfileimage {
    position: absolute;
    top: 0;
    object-fit: cover;
    left: 0;
    height: 100%;
    width: 100%;
}

.imageProfile {
    z-index: 99;
    width: 120px;
    border-radius: 50%;
}

.infoProfileView {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoUser {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoUser h1 {
    color: #717070;
}

.optionEditProfile {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEditpProfile {
    border-style: none;
    background: none;
    color: #717070;
    cursor: pointer;
}

/*petCard*/

.petCard {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
    border: solid 1px rgb(223, 220, 220);
    border-radius: 10px;
    color: #717070;
}

.imagePetProfile {
    width: 150px;
}

.petCardRes {
    display: none;
}

@media(max-width: 1300px) {

    .containerProfileView {
        flex-direction: column;
    }

    .petCard {
        display: none;
    }

    .profileCard {
        width: 700px;
    }

    .infoUser {
        width: 70%;
    }

    .optionEditProfile {
        width: 30%;
    }

    .imageProfile {
        width: 150px;
    }

    .petCardRes {
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border: solid 1px rgb(223, 220, 220);
        border-radius: 10px;
        color: #717070;
    }
}

@media(max-width: 720px) {

    .profileCard {
        width: 300px;
    }

    .petCardRes {
        display: none;
    }
}